{ 
 	 http_port 80 
 	 https_port 443 

 	 email morph1904@gmail.com

 	 auto_https disable_redirects 
 } 
:{$FRONTEND_PORT} { 
 	 root * /tygercaddy/frontend/dist 
 	 root * /tygercaddy/frontend/dist 
 	 encode gzip zstd 
 	 try_files {path} {path}/ /index.html 
 	 file_server 
 } 
plex.bytesense.biz { 
	 reverse_proxy 10.10.200.11:32400 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
	 reverse_proxy /tv 10.10.200.24:9004 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/plex.bytesense.biz.json 
			combined 
 	 	 	 format json 
 	 	 } 

} 
connect.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9011 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/connect.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
deluge.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9020 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/deluge.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
docker.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9000 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/docker.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
down.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9002 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/down.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
hydra.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9014 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/hydra.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
jackett.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9007 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/jackett.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
movies.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9003 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/movies.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
plexstats.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9013 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/plexstats.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
requests.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9005 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/requests.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
tv.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9004 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/tv.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
proxy.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9091 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/proxy.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
center.bytesense.biz { 
	 reverse_proxy 10.10.200.36:80 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/center.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
server.bytesense.biz { 
	 reverse_proxy 10.10.200.20:80 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/server.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
apps.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9030 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/apps.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
gitlab.bytesense.biz { 
	 reverse_proxy 10.10.200.81:80 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/gitlab.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
registry.bytesense.biz { 
	 reverse_proxy 10.10.200.73:5000 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/registry.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
status.bytesense.biz { 
	 reverse_proxy 10.10.200.24:9040 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/status.bytesense.biz.json 

 	 	 	 format json 
 	 	 } 

} 
api.bytesense.tech { 
	 reverse_proxy 10.10.200.73:8080 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/api.bytesense.tech.json 

 	 	 	 format json 
 	 	 } 

} 
code.bytesense.tech { 
	 reverse_proxy 10.10.200.73:8443 { 
 	 	 transport http { 
 	 	 	 tls_insecure_skip_verify 
 	 	 } 
	 } 
 	 tls { 
	 	 	 issuer acme { 
	 	 	 	 dns cloudflare C9HhmeGw07_s6NvonM2z4xlataHgc7hJgbEcIW1y
 	 	 	 	 resolvers 8.8.8.8 
	 	 	 } 
	 }
 	 	 log {
 	 	 	 output file /tygercaddy/backend/db/logs/code.bytesense.tech.json 

 	 	 	 format json 
 	 	 } 

} 
