{ 
    http_port 80 
    https_port 443
}

:{$FRONTEND_PORT} {
        root * /tygercaddy/frontend/dist
        encode gzip zstd
        try_files {path} {path}/ /index.html
        file_server
    }
}